<div id="fb-root"></div>
      <script src="http://connect.facebook.net/en_US/all.js"></script>
      <script>
         FB.init({ 
            appId:'209564855754567', cookie:true,
            status:true, xfbml:true 
         });
      </script>
</div>